### Assignment 4
### Sarthak Bhingarde

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import ipywidgets

In [3]:
ufos = pd.read_csv("https://github.com/UIUC-iSchool-DataViz/is445_AOUAOG_fall2021/raw/master/week05/data/ufo-scrubbed-geocoded-time-standardized-00.csv",
                  names = ["date", "city", "state", "country",
                          "shape", "duration_seconds", "duration",
                          "comment", "report_date", "latitude", "longitude"],
                  parse_dates = ["date", "report_date"])

In [4]:
ufos = ufos.fillna({'country':'unknown','state':'unknown', 'shape':'unknown'})

In [5]:
ufos.head()

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,unknown,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),unknown,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611

In [6]:
nsample = 1000
downSampleMask = np.random.choice(range(len(ufos)), nsample, replace=False)

In [7]:
ufosDS = ufos.loc[downSampleMask]

In [8]:
ufosDS.head()

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
23846,2006-01-29 21:00:00,mount pocono,pa,us,light,1.0,1 second,Very large and bright flash at treeline - dire...,2006-02-14,41.121944,-75.365000
22478,1991-12-05 01:45:00,gloucseter (uk/england),unknown,unknown,triangle,600.0,10 minutes,the sound from the craft moved threw the air b...,2002-08-28,51.864245,-2.238156
73831,1999-09-12 21:10:00,olympia,wa,us,light,1.5,1.5sec,Observation of commercial aircraft approaching...,1999-10-02,47.038056,-122.899444
14976,2008-01-15 18:00:00,carriere,ms,us,other,60.0,60sec,4 lights in a row out front of 3 bright light...,2008-01-21,30.616667,-89.652500
12301,2003-11-22 09:20:00,florence,al,us,triangle,4.0,3 or 4 seconds,A fast triangular-shape without any noise whic...,2003-11-26,34.799722,-87.677222

In [14]:
@ipywidgets.interact(style=plt.style.available)
def make_plot(style, X=['longitude','city','state','country','shape','latitude',
                        'duration_seconds','report_date','date'],
              Y=['latitude','city','state','country','shape','longitude',
                 'duration_seconds','report_date','date'],
              col_map=['duration_seconds','longitude','latitude']):
    with plt.style.context(style):
        fig, ax = plt.subplots(1,1,figsize=(20,15))
        ax.scatter(ufosDS[X],ufosDS[Y],c=ufosDS[col_map])
        ax.set_xlabel(X)
        ax.set_ylabel(Y)

    plt.show()

interactive(children=(Dropdown(description='style', options=('Solarize_Light2', '_classic_test_patch', 'bmh', …

I have used the downsized samples of 1000 for this visualization.

In this plot, I have made two drop downs for X and Y axes respectively. In this drop down, the user can choose either categorical or numerical variables. I have also made a drop down for changing the colormap of the charts which include only numerical variables.

I have made a drop down to choose variables in both X and Y axes. The user can choose any variables. If the user selects the same variables in both the axes, a 45 degree straight line will be made. If the user chooses different variables, then appropriate scatter plot will be made. 

I have let user choose any variables apart from comments and duration. These variables do not fall in to any particular category. comments column contains sentences and duration column contains both numerical and categorical type of values. Hence, I have removed those columns from the drop down. Also, here I did not exclude the city column even though it makes the chart cluttery because, if we plot city on the Y-axis, we get a decent view, since all the cities line up vertically which makes them a bit easier to read.

I have let the user to select of all the columns on both the axes, because if we plot one variable on X axis and the other on Y axis, we get one type of variable and if we switch them we get a different kind of visualization for the same columns. This helps to understand which visualization work best with which orientation. For example, we come to know that city can be best visualize with other variables when they are on the Y axis and when plotted on the X axis the chart becomes cluttery.

I have also made a drop down for colormap because we can change the color scheme based on the three different numerical variables we have. We cannot use both the dates column in colormap because it does not treat the dates column as a continuous numerical column.

In [17]:
@ipywidgets.interact(style=plt.style.available)
def make_plot(style, b=range(1,21),X=['longitude','latitude','duration_seconds'
                                      ,'city','state','country','shape',
                                      'date','report_date']):
    with plt.style.context(style):
        if X in ['city','state','country','shape']:
            fig, ax = plt.subplots(1,1,figsize=(20,15))
            plt.bar(ufosDS[X].value_counts().index,ufosDS[X].value_counts().values,width=0.8)
            ax.set_xlabel(X)
            plt.xticks(rotation=45)
            ax.set_ylabel("Count of "+X)
            plt.legend(["Count of "+X])

        else:
            fig, ax = plt.subplots(1,1,figsize=(20,15))
            ufosDS[X].hist(bins=b)
            ax.set_xlabel(X)
            ax.set_ylabel('Frequency')
    plt.show()

interactive(children=(Dropdown(description='style', options=('Solarize_Light2', '_classic_test_patch', 'bmh', …

I have used the downsized samples of 1000 for this visualization.

In this plot, I have made a drop down menu which lets user to select any one column either categorical or numerical. I have also made a drop down for the user to select the number of bins required in the histogram.

If the user selects a categorical variable which are country, state, city and shape then a bar plot is made, which has the categorical variable on the X-axis and the count of that variable in the dataset on the Y-axis.

Similarly, if the user selects a numerical variable which are latitude, longitude, duration_second, report_date and date from the drop down menu, a histogram is plotted of the chosen variable and the bin is activated. The bin size can be selected from the drop down, which will change the number of bins in the histogram plotted.

I have removed the comments and duration columns from the avaibale columns to choose as it did not make much sense plotting a bar chart or a histogram of those two variables. The comments columns did not really fall in categorical type perfectly, as it contains sentences which could not be plotted as a bar chart. Similarly with the duration column, it contained both numerical and categorical type values due to which I could not put it in either of the two buckets.

Also, I thought of removing the city column from the drop down menu as it made the chart look very cluttery, but if we increase the chart width, we can eventually reach a point where we can visualize cities appropriately. I have included the city column so that one more visualization would be possible.

I have given the user to choose any columns except comments and duration. I let the user choose any other column because if the user chooses categorical columns, a bar plot will be made which will show the categories in the categorical column and if the user chooses numerical column, a histogram will be made. 

Depending on the type of column the user chooses, it gets to choose the number of bins. For example, if the user selects a categorical variable the drop down for choosing the bin size does not work and if the user chooses a numerical column, the bin option activates and is able to select the bin size.